<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navbarDiv" class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/company/{{this.id}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/comments/{{this.id}}">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/salaries/{{this.id}}">Salaries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/interview/{{this.id}}">Interview</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <form [formGroup]="salaryForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="position">Postion:</label>
            <input formControlName="position" id="position" type="text" class="form-control">
            <div *ngIf="f.position.touched && f.position.invalid" class="text-danger">
                <div *ngIf="f.position.errors!.required">Position is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input formControlName="salary" id="salary" type="text" class="form-control">
            <div *ngIf="f.salary.touched && f.salary.invalid" class="text-danger">
                <div *ngIf="f.salary.errors!.required">Salary is required.</div>
            </div>
        </div>
        <div class="form-group float-right mt-3">
            <button mat-raised-button color="primary" id="submit" [disabled]="!salaryForm.valid" type="submit"
                class="btn-block">Submit</button>
        </div>
    </form>

    <div *ngFor="let c of salary" id="salaryDiv">
        <div id="content">Position: {{c.position}}</div>
        <div id="content">Salary: {{c.salary}}</div>
    </div>

</div>